html {
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}

body {
    background-image: linear-gradient(to right, rgb(158, 219, 247), rgb(243, 181, 219));
}

/**BLOG SECTION**/
.blogPost {
    width: 60%;
    padding: 30px 30px 20px 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 5px;
}

.blogTitle {
    text-align: left;
}

/**HEADER**/
header {
    padding: 40px 0 5px 0;
    width: 100%;
    background-image: url(blossoms.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/**TEXT + HEADINGS**/

h3 {
    text-align: center;
}

small {
    padding-left: 8px;
    font-size: 10px;
}

strong {
    font-size: 20px;
}

/**SCROLLING FOOTER**/
footer {
    height: 60px;
    width: 100%;
    background-color: rgb(247, 181, 214);
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
}

/**NAV**/
.containDiv {
    padding: 20px 0px 20px 0px;
    margin: auto;
}

button {
    height: 60px;
    width: 300px;
    background-color: rgb(247, 139, 139);
    border-radius: 5px;
}

#navigation {
    display: inline;
    list-style-type: none;
    padding: 20px;
}

.dropdown>li>a:link {
    background-color: transparent;
    text-decoration: none;
    padding-right: 15px;
    padding-left: 15px;
}

.dropdown>li {
    padding-top: 5px;
    padding-bottom: 5px;
}

a:hover {
    color: rgba(255, 255, 255, 0.973);
    text-decoration: none;
}

nav {
    text-align: center;
}

/**NAV DROPDOWN**/
.dropContainer {
    position: relative;
    display: inline-block;
}

.dropdown {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
    min-width: 300px;
    background-color: rgb(255, 200, 200);
    border-radius: 2px;
    padding-bottom: 3px;
}

.dropContainer:hover .dropdown {
    display: block;
}

.dropContainer li:hover {
    background-color: rgb(247, 139, 139);
}

/**MEDIA QUERIES**/
@media only screen and (min-width: 400px) {

    h1 {
        font-size: 40px;
        text-align: center;
        margin: auto;
    }

    h2 {
        font-size: 15px;
    }

    #contact>li {
        font-size: small;
    }
}

@media only screen and (min-width: 800px) {

    h1 {
        font-size: 50px;
        text-align: center;
        margin: auto;
    }

    h2 {
        font-size: 20px;
    }

    #contact>li {
        font-size: medium;
    }
}

@media only screen and (min-width: 1200px) {

    h1 {
        font-size: 60px;
        text-align: center;
        margin: auto;
    }

    h2 {
        font-size: 40px;
    }

    #contact>li {
        font-size: 25px;
    }

    /**IFRAME**/
    iframe {
        padding: 10px 0 0 0;
        width: 50%;
        height: 67em;
    }
}